@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Breakpoint personalizado */
  --breakpoint-xxl: 1920px;

  /* Colores */
  --color-text: #000000;
  --color-background: #FBFBFE;
  --color-primary: #84A2EB;
  --color-secondary: #641895;
  --color-accent: #D440E1;
  --color-card: #FFFFFF;

  /* Dark mode colors */
  --color-dark-text: #D8E0F9;
  --color-dark-background: #040919;
  --color-dark-card: #0F1732;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterLight';
  src: url('/fonts/Inter/Inter_18pt-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontSemiBold';
  src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontMedium';
  src: url('/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.inter{
    font-family: "Inter";
}

.inter_light{
    font-family: "InterLight";
}

.mont_semibold{
    font-family: "MontSemiBold";
}

.mont_mid{
    font-family: "MontMedium";
}

.montserrat{
    font-family: "Montserrat";
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 9999px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 9999px;
}

html{
  scroll-behavior: smooth;
}

#everything_one_place {
  scroll-margin-top: 100px;
}